{% extends "layout.html" %}
{% block content %}
    <main>
        <section id="intro">
            <div class="banner">
                <img class="img-fluid" src="{{ url_for('static', filename='banner.jpg') }}" alt="banner.jpg">
            </div>
            <div class="intro">
                <div class="col-sm-5">
                <h1>Hello</h1>
                <p>I have a passion for developing user-friendly, accessible and responsive websites. I never stop learning and for me, each new project is another adventure.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}